html {
	scroll-behavior: smooth;
}

h1 {
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	text-align: center;
}

h4 {
	margin-top: 0px;
	margin-bottom: 20px;
}

h5 {
	font-weight: bold;
	margin-bottom: 20px;
}

#header {
	margin-bottom: 20px;
}

#menu {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}

#categoryNr {
	font-size: 32px;
	margin-bottom: 10px;
}

.menuButtonContainer {
	display: inline-block;
	margin-top: 3px;
}

.menuButtonContainerDone > .btn-primary{
	color: #99e699;
}

.menuButtonContainerActive > .btn-primary {
	outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

#end {
	background-color: #ff8080;
	border-color: #ff8080;
}

.well {
	text-align: center;
}

.threeColumns {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */ 
   -moz-column-count: 3;    /* Firefox */ 
   column-count: 3; 
   -moz-column-fill: balance;
   -column-fill: balance; 
   column-fill: balance;
	-webkit-column-width: 200px;
	-moz-column-width: 200px;
	column-width: 200px;
}

.noBreakInside {
   -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

#inputObj> #oneCheckboxGroup {
	width: 1000px;
}

.twoColumns {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */ 
   -moz-column-count: 2;    /* Firefox */ 
   column-count: 2; 
   -moz-column-fill: auto;
   -column-fill: auto; 
}

#notes {
	font-size: 13px;
	margin-top: 10px;
}

.comment {
	margin-top: 30px;
}

.warning {
	margin-bottom: 20px;
}