body {
	text-align: justify;
}

h1 {
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	text-align: center;
}

h4 {
	margin-top: 0px;
	margin-bottom: 20px;
}

h5 {
	margin-bottom: 30px;
	font-weight: bold;
}

#header {
	margin-bottom: 20px;
}

#menu {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 75px;
}

.menuButtonContainer {
	display: inline-block;
	margin-top: 3px;
}

.menuButtonContainerDone > .btn-primary{
	color: #99e699;
}

.menuButtonContainerActive > .btn-primary {
	outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

#end {
	background-color: #ff8080;
	border-color: #ff8080;
}

.well {
	text-align: center;
}

.threeColumns {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */ 
   -moz-column-count: 3;    /* Firefox */ 
   column-count: 3; 
   -moz-column-fill: auto;
   -column-fill: auto; 
}

.form-group {
   -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.oneColumn> #oneCheckboxGroup {
	width: 1000px;
}

.twoColumns {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */ 
   -moz-column-count: 2;    /* Firefox */ 
   column-count: 2; 
   -moz-column-fill: auto;
   -column-fill: auto; 
}

.comment {
	margin-top: 30px;
}