body {
	text-align: justify;
}

h1 {
	margin-bottom: 20px;
}

h4 {
	margin-bottom: 0px;
}

#sidebar {
	text-align: center;
}

.itemsContainer {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */ 
   -moz-column-count: 3;    /* Firefox */ 
   column-count: 3; 
   -moz-column-fill: auto;
   -column-fill: auto; 
}

.sentencesContainer {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */ 
   -moz-column-count: 2;    /* Firefox */ 
   column-count: 2; 
   -moz-column-fill: auto;
   -column-fill: auto; 
}

.comment {
	margin-top: 30px;
}