body {
	text-align: justify;
}

h1 {
	margin-bottom: 20px;
}

#sidebar {
	text-align: center;
}

.itemsContainer {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */ 
   -moz-column-count: 3;    /* Firefox */ 
   column-count: 3; 
   -moz-column-fill: auto;
   -column-fill: auto; 
	margin-bottom: 30px;
}



